{% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}

<li>
  
  {% block title %}
    {% set organization_display_name = h.extra_translation(organization, 'title') or organization.name %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization_display_name) }}" class="">
        <h4>{{ organization_display_name }}</h4>
    </a>
  {% endblock %}

  {% block description %}
    {% if organization.description %}
      <p>{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
    {% endif %}
  {% endblock %}

  {% block datasets %}
    {% if organization.package_count %}
      <strong class="count nonimportant-text">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</strong>
    {% else %}
      <span class="count nonimportant-text">{{ _('0 Datasets') }}</span>
    {% endif %}
  {% endblock %}
</li>

