{#
Display a hierarchical tree of groups


Example:

{% snippet "group/snippets/group_list.html" %}

#}

{% if q is not defined %}{% set q = c.q %}{% endif %}

<div id="publisher-tree">
     {% if q %}
     	{% set top_nodes = h.group_tree_highlight(groups, h.group_tree(type_='group')) %}
     {% else %}
     	{% set top_nodes = h.group_tree(organizations=groups, type_='group') %}
     {% endif %}
     {% snippet 'group/snippets/group_tree.html', top_nodes=top_nodes, use_longnames=True %}
</div>
