{% ckan_extends %}

{% block page_heading %}
  {% if c.group_dict.longname %}
    {{ c.group_dict.longname }} ({{ c.group_dict.display_name }})
  {% else %}
      {{ super() }}
  {% endif %}
{% endblock %}

{% block organization_description %}
  {{ super() }}

  <h2>{{_('Organization hierarchy')}}</h2>
  <div id="publisher-tree">
     {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.group_tree_section(id=c.group_dict.id, type=c.group_dict.type)] %}
  </div>

{% endblock %}
