{% ckan_extends %}

{% block page_heading %}
  {% if c.group_dict.longname %}
    {{ c.group_dict.longname }} ({{ c.group_dict.display_name }})
  {% else %}
      {{ super() }}
  {% endif %}
{% endblock %}

{% block organization_description %}
  {{ super() }}
  
  {# TODO: Add JSTree #}

  <div id="organization-tree">
     {% snippet 'organization/snippets/organization_tree.html', top_nodes=[h.group_tree_section(id_=c.group_dict.id, type_=c.group_dict.type)], use_longnames=True %}
  </div>

{% endblock %}
