{% ckan_extends %}
  {{ super() }}


<!-- JSTree is included, but so far does nothing. Need to encapsulate it in a
     'javascript module' -->
{% block scripts %}
  {{ super() }}
  {% resource 'jstree/jquery.jstree.js' %}
{% endblock %}


  {% block organizations_list %}
    {% if page or c.page or request.params %}
      {% if page %}
        {% if c.q %}
         	{% snippet "organization/snippets/organization_list.html", organizations=page.items %}
        {% else %}
          	{% snippet "organization/snippets/organization_list.html", organizations=[] %}          
        {% endif %}
      {% elif c.page %}
       {% if c.q %}
                {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
        {% else %}
                {% snippet "organization/snippets/organization_list.html", organizations=[] %}
        {% endif %}
      {% endif %}
    {% else %}
      {{ super() }}
    {% endif %}
  {% endblock %}

  {% block page_pagination %}
  {% endblock %}
