{% ckan_extends %}

{% if fields is not defined %}{% set fields = c.fields %}{% endif %}


{% block search_input %}
     {{ super() }}
     {% if include_children_option %}
        {%if group_type == 'organization' %}
          {{ form.checkbox('include_children', label="Include Sub-Organizations", checked=(h.is_include_children_selected(fields)), value=True, error=error) }}
          {% else %}
          {{ form.checkbox('include_children', label="Include Sub-Groups", checked=(h.is_include_children_selected(fields)), value=True, error=error) }}
        {% endif %}

      {% endif %}
{% endblock %}
